* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/background.png);
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
}

#banner {
    background-image: url(images/bannerbackground.png);
    background-repeat: repeat-x;
    height: 50px;
    text-align: center;
}

h1 {
    font-size: 24pt;
    font-weight: bold;
    font-family: Tahoma, Verdana, sans-serif;
    text-align: center;
    line-height: 80px;
}

div#main {
    width: 800px;
    margin: auto;
    border: 4px gray solid;
}

aside {
    width: 32%;
    margin: 0;
    padding: 0;
    float: right;
    background-color: #A2B964;
}

aside img {
    width: 100%;
}

aside dl {
    margin: 10px;
    font-size: 8pt;
    font-family: Arial sans-serif;
}

aside dl dt {
    font-weight: bold;
}

aside dl dd {
    margin-left: 18%;
    margin-bottom: 1em;
}

section {
    width: 540px;
    display: table;
    border-spacing: 10px;
}

div#rotten_img {
    background-image: url(images/rottenbackground.png);
    background-repeat: repeat-x;
    height: 83px;
    color: white;
    font-size: 8pt;
}

#rotten_img img {
    float: left;
}

div#rotten_img span#per32 {
    font-size: 48pt;
    color: red;
    font-weight: bold;
}

section .containerRow {
    display: table-row;
}

.containerCol {
    display: table-cell;
    width: 47%;
}

#pageNum {
    clear: right;
    text-align: center;
    background-color: #A2B964;
    padding: 5px;
}

.review {
    margin-bottom: 3em;
}

.review p:first-child {
    font-size: 8pt;
    font-weight: bold;
    border: 2px gray solid;
    background-color: #E1D697;
    padding: 8px;
    line-height: 1.4;
    overflow: hidden;
}

.review p:first-child img {
    float: left;
    margin-right: 5px;
}

.review p:last-child {
    font-style: italic;
    overflow: hidden;
}


.review p:nth-child(2) img {
    float: left;
    margin-right: 5px;
}

#w3cicon {
    position: fixed;
    bottom: 0px;
    right: 0px;
}
